@charset "UTF-8";
/*                                        headliners                                             */
h1 {
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-weight: 800;
}

h2 {
  color: #0074d9;
  font-family: Helvetica;
  font-weight: 800;
  font-size: xx-large;
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 1.5rem;
  }
}
h3, h4 {
  color: rgb(0, 0, 0);
}

p {
  font-family: Helvetica;
  color: #1F262D;
}

/*                                                  footer                           */
.footer {
  background-color: #1F262D;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 25px;
}
.footer .social-icons .social-icon {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.footer .social-icons .social-icon:hover {
  color: #0074d9;
  transform: translateY(-5px);
}
.footer .footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-menu li {
  display: inline;
  margin: 0px 20px;
  font-family: Helvetica;
  font-weight: 600;
}
.footer .footer-menu li a {
  text-decoration: none;
  color: #fff;
}
.footer .footer-menu li a:hover {
  color: #0074d9;
}
.footer .footer-menu .copyright {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7450980392);
  font-family: "Arial", sans-serif;
}
.footer body {
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .footer .social-icons {
    gap: 10px;
  }
  .footer .social-icon {
    font-size: 20px;
  }
  .footer .footer-menu li {
    margin: 0;
  }
  .footer .footer-menu a {
    margin: 5px 0;
  }
  .footer .copyright {
    font-size: 10px;
  }
}

/*                                        navegación                                             */
.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.navbar-nav a {
  margin-right: 20px;
}

button.navbar-toggler {
  color: #0074d9;
  border-color: #0074d9;
}

header.navbar {
  box-shadow: 0 5px 8px -4px rgba(5, 5, 5, 0.527);
  z-index: 2;
}
header.navbar .navbar-nav .nav-link {
  color: #fff !important;
}
header.navbar .navbar-nav {
  z-index: 2;
  list-style: none;
  font-family: Helvetica;
  font-weight: 600;
  color: #fff;
  padding: 10px;
}
header.navbar .navbar-nav:hover {
  z-index: 2;
  list-style: none;
  font-family: Helvetica;
  font-weight: 600;
  color: #fff;
}
header.navbar .red-social {
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}
header.navbar .red-social:hover {
  transform: translateY(-5px);
  color: #fff;
}
@media (max-width: 992px) {
  header.navbar .red-social {
    display: none;
  }
}
header.navbar .pick-icon {
  width: 20px;
  height: 15px;
  display: inline-block;
  background-image: url("../assets/img/pick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0px;
}

/*                                        BANNER                                             */
.banner_main {
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}
.banner_main .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.banner_main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner_main .content-container {
  z-index: 2;
}
.banner_main .content-container p {
  color: #fff;
}
.banner_main .content-container .boton-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.banner_main .content-container .boton-container .boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-family: Helvetica;
}
.banner_main .content-container .boton-container .boton:hover {
  background-color: #0056b3;
}
@media (max-width: 767px) {
  .banner_main .boton-container {
    flex-direction: column;
    margin-top: 10px;
  }
  .banner_main .boton-container .boton {
    margin: 10px 0;
  }
  .banner_main .banner_main {
    align-items: center;
    padding: 20px;
    height: auto;
    background-attachment: scroll;
  }
}

/*                                        SECCIÓN HOME                                             */
.seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  padding-top: 60px;
  margin: 0 auto;
}
.seccion .imagen {
  max-width: 100%;
  margin-right: 20px;
  transition: transform 0.3s;
  width: 35%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
  padding-right: 40px;
  animation: escalar-continuo 8s ease-in-out infinite;
}
.seccion .imagen:hover {
  transform: scale(1.05);
}
.seccion .contenido {
  max-width: 600px;
  text-align: center;
}
.seccion .contenido .boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-family: Helvetica;
}
.seccion .contenido .boton:hover {
  background-color: #0056b3;
}
@media (max-width: 767px) {
  .seccion {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .seccion .imagen {
    width: 100%;
    padding-right: 0;
    margin: 0 0 20px 0;
  }
  .seccion .imagen:hover {
    transform: none;
  }
  .seccion .seccion {
    flex-direction: column;
    text-align: center;
  }
}

@keyframes escalar-continuo {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}
/*                                        discografía                                             */
.reproductor_discos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
}
.reproductor_discos .reproductor {
  width: 100%;
  margin-bottom: 20px;
}
.reproductor_discos .reproductor iframe {
  width: 100%;
  height: 380px;
}
.reproductor_discos .informacion {
  text-align: center;
}
@media (min-width: 768px) {
  .reproductor_discos {
    flex-direction: row;
  }
  .reproductor_discos .reproductor {
    width: 40%;
    margin-right: 40px;
    margin-bottom: 0;
  }
  .reproductor_discos .informacion {
    flex: 1;
    text-align: left;
  }
}

/*                                        contacto                                            */
.contacto-full {
  padding: 50px;
  margin-top: 15px;
}
.contacto-full .contacto-section {
  padding-left: 20px;
  padding-right: 60px;
  text-align: justify;
}
.contacto-full .formulario-section {
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .contacto-full {
    padding: 10%;
    margin-top: 0;
  }
  .contacto-full .formulario-section {
    padding: 10px;
  }
  .contacto-full .contacto-section {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contacto-full .contacto-section h2 {
    text-align: center;
  }
}

/*                                        merch                                            */
.merch-container {
  text-align: center;
  margin-top: 5%;
}
.merch-container .title {
  font-size: 2em;
}
.merch-container .merch-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 2%;
  max-width: 100%;
}
.merch-container .merch-grid .product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  cursor: pointer;
}
.merch-container .merch-grid .product-card:hover {
  transform: scale(1.01);
}
.merch-container .merch-grid .product-card h3 {
  margin: 3;
  font-size: 15px;
}
.merch-container .merch-grid .product-card .product-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.merch-container .merch-grid .product-card .product-image:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .merch-container .merch-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*                                        tour                                            */
.tour-background {
  background-image: url("../assets/img/f2.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -60px;
}
.tour-background .overlay-tour {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tour-background .overlay-tour .tour-container {
  text-align: center;
  color: #fff;
}
.tour-background .overlay-tour .tour-container h2 {
  font-size: 2em;
}
.tour-background .overlay-tour .tour-container .concert-bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
}
.tour-background .overlay-tour .tour-container .concert-bar .left, .tour-background .overlay-tour .tour-container .concert-bar .center, .tour-background .overlay-tour .tour-container .concert-bar .right {
  flex: 1;
  margin: 0 40px;
}
.tour-background .overlay-tour .tour-container .concert-bar .left .date, .tour-background .overlay-tour .tour-container .concert-bar .left .venue, .tour-background .overlay-tour .tour-container .concert-bar .left .city, .tour-background .overlay-tour .tour-container .concert-bar .left .country, .tour-background .overlay-tour .tour-container .concert-bar .center .date, .tour-background .overlay-tour .tour-container .concert-bar .center .venue, .tour-background .overlay-tour .tour-container .concert-bar .center .city, .tour-background .overlay-tour .tour-container .concert-bar .center .country, .tour-background .overlay-tour .tour-container .concert-bar .right .date, .tour-background .overlay-tour .tour-container .concert-bar .right .venue, .tour-background .overlay-tour .tour-container .concert-bar .right .city, .tour-background .overlay-tour .tour-container .concert-bar .right .country {
  margin-bottom: 5px;
}
.tour-background .overlay-tour .tour-container .concert-bar .left .buy-tickets, .tour-background .overlay-tour .tour-container .concert-bar .center .buy-tickets, .tour-background .overlay-tour .tour-container .concert-bar .right .buy-tickets {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-family: Helvetica;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.tour-background .overlay-tour .tour-container .concert-bar .left .buy-tickets:hover, .tour-background .overlay-tour .tour-container .concert-bar .center .buy-tickets:hover, .tour-background .overlay-tour .tour-container .concert-bar .right .buy-tickets:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .tour-background .overlay-tour .tour-container .concert-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .tour-background .left, .tour-background .center, .tour-background .right {
    margin: 10px 0;
  }
  .tour-background .tour-background {
    height: 220vh;
    background-image: url("../assets/img/f1.jpg");
  }
}/*# sourceMappingURL=style.css.map */