$negro: rgb(0, 0, 0);
$helvatica: Helvetica;
$grueso: 800;

$azul: #0074d9;
$hoverazul: #0056b3;
$xxl: xx-large;

$blanco: #fff;
$plomo: #1F262D;
$footer-padding: 20px;


@mixin estilo-botones {
    display: inline-block;
    padding: 10px 20px;
    background-color: $azul;
    color: $blanco;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-family: Helvetica;

    &:hover {
        background-color: $hoverazul;
    }
}
